<div class="main">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Type</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.type }}</td>
        <td>
          <button (click)="editProduct(product.id)">Edit</button> |
          <button (click)="removeProduct(product.id)">Delete</button>
        </td>
      </tr>
      <tr>
        <td><input [(ngModel)]="id" type="number" placeholder="ID" /></td>
        <td>
          <input [(ngModel)]="name" type="text" placeholder="Name" />
        </td>
        <td>
          <input [(ngModel)]="type" type="text" placeholder="Type" />
        </td>
        <td>
          <button (click)="saveProduct()">Save</button> |
          <button (click)="cancel()">Cancel</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
